<html>
  <head><title>Awesome Server</title></head>
  <body>
    <h1>Awesome Server Homepage</h1>

    <div>
      {{#if name}}
        <p>Hello {{name}}, press here to <a href="/logout">logout</a></p>

        <h2>Menu</h2>
        <ul>
          <li><a href="/bank/transactions">Transactions</a></li>
          <li><a href="/bank/transfer">Transfer Money</a></li>
        </ul>
      {{else}}
        <p>Hello, please <a href="/login">login</a></p>
      {{/if}}
    </div>
  </body>
</html>