<!DOCTYPE html>
<html>
  <head><title>Login</title></head>
  <body>
    <form method="POST">
      {{{form}}}

      <div>
        <div>
          <ul>
            {{!-- loading the res.local.errors --}}
          {{#each errors}}
          <p>{{this}}</p>
          {{/each}}
          </ul>
          </div>
        </div>

        <input type="submit" value="Login"/>
      </div>
    </form>
  </body>
</html>