<!DOCTYPE html>
<html>
  <head><title>Register New User</title></head>
  <body>
    <h1>Register New User</h1>
    <div>
      <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    </div>
    <form method="POST">
      {{{form}}}

      <div>
        <input type="submit" value="Login"/>
      </div>
    </form>
  </body>
</html>