<!DOCTYPE html>
<html>
  <head><title>Bank Transfer</title></head>
  <body>
    <div>
      <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    </div>

    <form method="POST">
      {{{form}}}

      <div>
        <input type="submit" value="Submit"/>
      </div>
    </form>
  </body>
</html>