<html>
  <head><title>Bank Transfer Receipt</title></head>
  <body>
    <h1>Receipt</h1>

    <div>
      <p>Transaction ID: {{transaction.id}}</p>
      <p>Recipient: {{transaction.recipient}}</p>
      <p>Amount: $ {{transaction.amount}}</p>
    </div>
  </body>
</html>