<html>
  <head><title>Bank Transactions</title></head>
  <body>
    <h1>Transactions</h1>

    <div>
      <table style="width: 100%; text-align: left">
        <thead>
          <tr>
            <th>Description</th>
            <th>Time</th>
            <th>Credit</th>
            <th>Debit</th>
          </tr>
        </thead>
        <tbody>
          {{#each transactions}}
            <tr>
              <td>{{this.description}}</td>
              <td>{{this.time}}</td>
              <td>{{this.credit}}</td>
              <td>{{this.debit}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>